<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Interior Architecture Gallery</title>
    <link rel="stylesheet" href="../static/styles.css" />
  </head>
  <body>
    <!-- Sticky Logo -->
    <header>
      <div class="logo">
        <img src="../static/logos-removebg-preview.png" alt="Company Logo" />
      </div>
    </header>

    <!-- Gallery Container -->
    <div class="gallery">
      <img src="../static/_1.jpg" alt="Interior Architecture Image 1" />
      <img src="../static/_2.jpg" alt="Interior Architecture Image 2" />
      <img src="../static/_3.jpg" alt="Interior Architecture Image 3" />
      <img src="../static/_4.jpg" alt="Interior Architecture Image 4" />
      <img src="../static/_5.jpg" alt="Interior Architecture Image 5" />
      <img src="../static/_6.jpg" alt="Interior Architecture Image 6" />
      <img src="../static/_7.jpg" alt="Interior Architecture Image 7" />
      <img src="../static/_8.jpg" alt="Interior Architecture Image 8" />
      <img src="../static/_9.jpg" alt="Interior Architecture Image 9" />
      <img src="../static/_10.jpg" alt="Interior Architecture Image 10" />
      <img src="../static/_11.jpg" alt="Interior Architecture Image 10" />
      <img src="../static/_12.jpg" alt="Interior Architecture Image 10" />
      <img src="../static/_13.jpg" alt="Interior Architecture Image 10" />
      <img src="../static/_14.jpg" alt="Interior Architecture Image 10" />
      <img src="../static/_15.jpg" alt="Interior Architecture Image 10" />
      <img src="../static/_16.jpg" alt="Interior Architecture Image 10" />
      <img src="../static/_17.jpg" alt="Interior Architecture Image 10" />
      <img src="../static/_18.jpg" alt="Interior Architecture Image 10" />
    </div>
    <footer>
      <p>@Copy Right 2023 Interior Architecture Gallery</p>
    </footer>
  </body>
</html>
